<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/milligram.min.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/admin_panel_styles.css">
</head>
<body>
<section class="section">
    <!--div class="container">
        <label for="goods_category_select">Choose a category:</label>
        <select name="goods_category" id="goods_category_select"></select>
    </--div-->
    <div class="container" id="orders_div">

    </div>
  </section>
</body>
 <script src="/static/scripts/admin_panel_scripts.js"></script>
</html>