<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/milligram.min.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/admin_panel_styles.css">
</head>
<body>
<section class="section">
    <!--div class="container">
        <label for="goods_category_select">Choose a category:</label>
        <select name="goods_category" id="goods_category_select"></select>
    </--div-->
    <div class="container" id="orders_div">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Age</th>
              <th>Height</th>
              <th>Location</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Stephen Curry</td>
              <td>27</td>
              <td>1,91</td>
              <td>Akron, OH</td>
            </tr>
            <tr>
              <td>Klay Thompson</td>
              <td>25</td>
              <td>2,01</td>
              <td>Los Angeles, CA</td>
            </tr>
          </tbody>
        </table>
    </div>
  </section>
</body>
 <script src="/static/scripts/admin_panel_scripts.js"></script>
</html>