<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/milligram.min.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/admin/admin_panel_styles.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/admin/header_style.css">
</head>
<body>
<!--header id='header'>
	 <span class ='nav-heading nav-brand' >Hui</span>
	<nav class= 'header'>
		<ul>
			<li>
				<a href = '#asd'>Home </a>
			</li>
            <li>
				<a href = '#!'>About </a>
			</li>
		</ul>
	</nav>
	<label for='menu-toggle' class='menu-nav-toggle'>
		<span>  </span>
	</label>
</--header-->
<section class="section">
    <div class="container">
        <label for="goods_category_select">Choose a category:</label>
        <select name="goods_category" id="goods_category_select"></select>
    </div>
    <div class="container" id="goods_cards_div">

    </div>
  </section>
</body>
 <script src="/static/scripts/admin/admin_panel_scripts.js"></script>
</html>