<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SIGNIN</title>
    <link rel="stylesheet" href="../../static/styles/milligram.min.css">
    <link rel="stylesheet" href="../../static/styles/admin_panel_styles.css">
</head>
<body>
<section class="section">
    <div class="container" id="signin_form_div">
      <form action="signin" method="post">
          <label for="password_input">Enter password:</label>
          <input id="password_input" type="password" name="password"/><br>
        <input type="submit" value="Submit" />
      </form>
    </div>
  </section>
</body>
</html>