<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SIGNIN</title>
    <link rel="stylesheet" href="/static/styles/milligram.min.css">
    <link rel="stylesheet" href="/static/styles/admin/admin_panel_styles.css">
</head>
<body>
<section class="section">
    <div class="container" id="signin_form_div">
        <label for="password_input">Enter password:</label>
        <input id="password_input" type="password" name="password"/><br>
        <button id="enter_btn">Войти</button>
    </div>
  </section>
</body>
<script>
    document.getElementById("enter_btn").addEventListener("click", onEnterBtnClick)
    let auth_token = null
    function onEnterBtnClick(event) {
        console.log("Clicked")
        let password = document.getElementById("password_input").value
        const response_promise = fetch("/admin/signin", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            // redirect: 'follow', // manual, *follow, error
            body: JSON.stringify({
                "password": password
            })
          });
          response_promise.then(
              response => {
                  response.json().then(
                      data => {
                          console.log(data);
                          auth_token = data['auth_token']
                          status = data['status']

                          if (auth_token !== null) {
                              console.log("Got auth token");
                              // try to open panel
                              document.location.href = "/admin/panel"
                        } else {
                              alert("Ппроль нверный");
                          }
                      }
                  )});
    }
</script>
</html>