<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Check</title>

	<link rel="stylesheet" href="css/fontawesome.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="track check">
		<div class="track-logo">
			<a>Gifty<b>corp</b></a>
			<span><i class="fas fa-gift"></i>RUS</span>
		</div>
		<div class="track-top">
			<div class="track-status">
				<div class="track-wrapper"></div>
				<h2>Чек</h2>
				<a href="track.html">Отслеживание</a>
				<ul class="check-list">
					<li>
						<span>Коробка - Mini</span>
						<span>600руб</span>
					</li>
					<li>
						<span>Набор 1 - Snickers</span>
						<span>60руб</span>
					</li>
					<li>
						<span>Набор 2 - Alpen Gold</span>
						<span>60руб</span>
					</li>
					<li>
						<span>Бонус - Milka печенье</span>
						<span>110руб</span>
					</li>
					<li>
						<span>Пакетик - Веселье</span>
						<span>150руб</span>
					</li>
					<li>
						<span>Пакетик - Радость</span>
						<span>150руб</span>
					</li>
					<li>
						<span>Пакетик - Дождь</span>
						<span>150руб</span>
					</li>
					<li>
						<span>Доставка - Казань</span>
						<span>200руб</span>
					</li>
					<li>
						<span>Общее</span>
						<span>1500руб</span>
					</li>
				</ul>
			</div>
			<div class="track-delivery">
				<i class="far fa-calendar-alt"></i>
				<p>Дата доставки до: <span>23.12.2021</span></p>
			</div>
		</div>
		<div class="track-content">
			<div class="track-customer">
				<p><span>Магомед Кирилл Ильфатович</span></p>
			</div>
			<div class="track-summary">
				<p>Сумма: <span>2500 руб.</span></p>
			</div>
			<div class="track-location">
				<p>Адрес: <span>г.Казань, ул. Большая красная 7/3</span></p>
			</div>
		</div>
		<div class="track-bottom">
			<a href="/">Закрыть</a>
		</div>
	</div>
</body>
</html>