<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/milligram.min.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/admin/admin_panel_styles.css">
</head>
<body>
<section class="section">
    <div class="container" id="order_status_div">
        <p>
            Order status
        </p>
    </div>
  </section>
</body>
 <script src="/static/scripts/admin/admin_panel_scripts.js"></script>
</html>