<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Constructor</title>

	<link rel="stylesheet" href="css/fontawesome.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="track">
		<div class="track-logo">
			<a>Gifty<b>corp</b></a>
			<span><i class="fas fa-gift"></i>RUS</span>
		</div>
		<div class="track-top">
			<div class="track-status">
				<h2>Заказ подтвержден</h2>
				<a href="#">Посмотреть</a>
				<p>№ заказа <span>400 020 300 213</span></p>
			</div>
			<div class="track-delivery">
				<i class="far fa-calendar-alt"></i>
				<p>Дата доставки до: <span>23.12.2021</span></p>
			</div>
		</div>
		<div class="track-content">
			<div class="track-customer">
				<p><span>Магомед Кирилл Ильфатович</span></p>
			</div>
			<div class="track-summary">
				<p>Сумма: <span>2500 руб.</span></p>
			</div>
			<div class="track-location">
				<p>Адрес: <span>г.Казань, ул. Большая красная 7/3</span></p>
			</div>
		</div>
		<div class="track-bottom">
			<a href="/">Закрыть</a>
		</div>
	</div>
</body>
</html>